body {
  background-color: #f7f1f1;
}

#MainImage {
  max-width: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  position: absolute;
}
#home {
  height: 100vh;
}
.topnav {
  font-family: "Poiret One", cursive;
  background-color: #624d5c;
  opacity: 0.8;
  height: 8%;
  border-bottom: #d9c0c0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  z-index: 1000000;
}
.topnav a {
  color: #d9c0c0;
}
#Banner {
  border-top: #d9c0c0;
  border-top-width: 3px;
  border-top-style: solid;
  background-color: #624d5c;
  position: absolute;
  bottom: 0;
  height: 45%;
  width: 100%;
  opacity: 0.5;
  font-size: 4rem;
  color: #d9c0c0;
  font-family: "Poiret One", cursive;
  text-align: center;
}
#bannertext {
  font-size: 4rem;
  max-width: 80%;
  margin: 6% auto;
  color: #d9c0c0;
  font-family: "Poiret One", cursive;
  display: inline-block;
}

#WebDevelopment {
  height: 100vh;
  width: 100%;
  text-align: center;
}

#title {
  text-align: center;
  color: #0e1a2f;
  font-family: "Poiret One", cursive;
  font-size: 3rem;
  padding: 6% 0 3% 0;
}
.project {
  display: inline-block;
  padding: 1rem 0rem;

  width: 300px;
  height: 200px;
}
#Art {
  height: 100vh;
  position: relative;
}
.submenu {
  font-family: "Poiret One", cursive;
  color: #0e1a2f;
  font-size: 2rem;
}
.container {
  text-align: center;
}
#ProDescription {
  font-family: "Poiret One", cursive;
  color: #0e1a2f;
  padding: 1.5rem;
}
