body {
  background-color: #f7f1f1;
}
/* 
#MainImage {
  max-width: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  position: absolute;
}
#home {
   height: 100vh; 
} */
#navbar {
  background-color: #624d5c;
  font-family: "Poiret One", cursive;
  opacity: 0.8;
  font-size: 1.7rem;
  height: 10%;
  z-index: 1000000;
}
.topnav { 
  display: flex;
  flex-direction: row;
}
.topnav a {
  color: #d9c0c0;
margin: 0 2rem;
}

/* #Banner {
  border-top: #d9c0c0;
  border-top-width: 3px;
  border-top-style: solid;
  background-color: #624d5c;
  position: absolute;
  bottom: 0;
  height: 45%;
  width: 100%;
  opacity: 0.5;
  font-size: 4rem;
  color: #d9c0c0;
  font-family: "Poiret One", cursive;
  text-align: center;
}
#bannertext {
  font-size: 4rem;
  max-width: 80%;
  margin: 6% auto;
  color: #d9c0c0;
  font-family: "Poiret One", cursive;
  display: inline-block;
} */

@media screen and (max-width: 576px) {
  #bannertext {
    display: none;
  }

  #Banner {
    display: none;
  }

  #home {
    display: inline-block;
    height: 100%;
  }
}

.title {
  text-align: center;
  color: #0e1a2f;
  font-family: "Poiret One", cursive;
  font-size: 3rem;
  padding: 6% 0 3% 0;
}
.project {
  display: inline-block;
  padding: 1rem 0rem;

  width: 300px;
  height: 200px;
}

.submenu {
  font-family: "Poiret One", cursive;
  color: #0e1a2f;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.submenu:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.container {
  text-align: center;
}
#ProDescription {
  font-family: "Poiret One", cursive;
  color: #0e1a2f;
  padding: 1.5rem;
}
#profilePhoto {
  width: 100%;
}
.school {
  width: 100%;
}
.typingText {
  color: #d9c0c0;
  font-family: "Poiret One", cursive;
}
.typingText:hover {
  color: #ffffff;
  font-family: "Poiret One", cursive;
  text-decoration: none;
}
